Repository CodeChain-io/codechain, pull requests merged in 2018-11, with the labels that each got.

#835 Check if the filter has trailing zero. fix #813
  types/src/util/tag.rs
  vm/src/tests/executor_tests/chk_sig.rs
Labels: script

#842 Make CodeChain allow the duplicated transactions
  core/src/blockchain/blockchain.rs
  core/src/blockchain/body_db.rs
  core/src/blockchain/extras.rs
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/miner/mem_pool.rs
  core/src/miner/miner.rs
  core/src/parcel.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/transaction.rs
  spec/JSON-RPC.md
  spec/Parcel.md
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  test/package.json
  test/src/helper/spawn.ts
  test/src/integration/chain.test.ts
  test/src/integration/mempool.test.ts
  test/src/integration/sync.test.ts
  test/src/integration/transactions.test.ts
  test/yarn.lock
  types/src/parcel/error.rs
  types/src/transaction/transaction.rs
  vm/src/tests/executor_tests/chk_multi_sig.rs
  vm/src/tests/executor_tests/chk_sig.rs
  vm/src/tests/executor_tests/executor.rs
Labels: breaking-change, parcel/tx, rpc

#844 Do not recompile on non-source changes
  Cargo.toml
Labels: build

#845 Increase the maximum of the asset amount
  core/src/parcel.rs
  state/src/db/state_db.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/item/asset.rs
  state/src/item/asset_scheme.rs
  test/package.json
  test/src/helper/constants.ts
  test/src/integration/account.test.ts
  test/src/integration/chain.test.ts
  test/src/integration/mempool.test.ts
  test/src/integration/transactions.test.ts
  test/yarn.lock
  types/src/transaction/error.rs
  types/src/transaction/transaction.rs
  vm/src/tests/executor_tests/chk_multi_sig.rs
  vm/src/tests/executor_tests/chk_sig.rs
  vm/src/tests/executor_tests/executor.rs
Labels: parcel/tx

#847 Increase the timeout of timelock tests
  test/src/integration/mempool.test.ts
Labels: test

#848 Change chain_executeTransactions to chain_executeTransaction
  core/src/client/client.rs
  core/src/client/mod.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/action.rs
  rpc/src/v1/types/mod.rs
  spec/JSON-RPC.md
  state/src/impls/top_level.rs
  types/src/parcel/action.rs
  types/src/parcel/mod.rs
Labels: breaking-change, rpc

#849 Kill burnt assets when transferring
  state/src/impls/shard_level.rs
Labels: bug, parcel/tx, state

#851 Remove global cache
  Cargo.lock
  core/src/client/client.rs
  core/src/client/test_client.rs
  core/src/consensus/tendermint/mod.rs
  core/src/scheme/scheme.rs
  core/src/tests/helpers.rs
  state/Cargo.toml
  state/src/backend.rs
  state/src/db/block_changes.rs
  state/src/db/global_cache.rs
  state/src/db/global_cache_buffer.rs
  state/src/db/mod.rs
  state/src/db/state_db.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/item/local_cache.rs
  state/src/lib.rs
  state/src/tests.rs
  state/src/traits.rs
Labels: state

#840 Implement the shared timer
  Cargo.lock
  Cargo.toml
  util/timer/Cargo.toml
  util/timer/src/lib.rs
  util/timer/src/timer.rs
Labels: util

#838 Reduce the Travis cache size.
  .travis.yml
Labels: build, test

#859 Add wrapping types for the shard level cache and top level cache
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
Labels: refactoring, state

#860 Remove local message feature from NetworkExtension
  core/src/consensus/tendermint/mod.rs
  network/src/client.rs
  network/src/extension.rs
  network/src/test/client.rs
  network/src/timer/handler.rs
Labels: refactoring

#864 Add ZeroAmount Parcel Error on WrapCCC type
  core/src/parcel.rs
  types/src/parcel/error.rs
Labels: bug, parcel/tx, verification

#865 Add integration test cases on wrapped CCC
  test/package.json
  test/src/helper/spawn.ts
  test/src/integration/transactions.test.ts
  test/yarn.lock
Labels: parcel/tx, test

#867 UnwrapCCC cannot have an output asset
  core/src/client/client.rs
  types/src/transaction/transaction.rs
Labels: bug, parcel/tx

#868 is_asset_spent must check the parcel has been succeeded.
  core/src/client/client.rs
Labels: bug

#871 Cache yarn packages
  .travis.yml
Labels: test

#870 Add a test for the cloned state
  state/src/impls/top_level.rs
Labels: state, test

#872 Use Uint instead of u64 for RPC
  Cargo.lock
  json/src/uint.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/v1/impls/account.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/action.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/parcel.rs
  rpc/src/v1/types/unsigned_parcel.rs
Labels: rpc

#874 Fix a crash that is caused when printing an empty array of rlp
  util/rlp/src/untrusted_rlp.rs
Labels: bug, util

#875 Use u64 for seq in RPC
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/parcel.rs
  rpc/src/v1/types/unsigned_parcel.rs
  spec/JSON-RPC.md
Labels: rpc

#877 Check asset_type of prev_out
  state/src/impls/shard_level.rs
Labels: bug, parcel/tx, state

#885 Update JSON-RPC.md to use camel case
  spec/JSON-RPC.md
Labels: documentation

#888 The unit of memory limit is a megabyte
  test/src/helper/spawn.ts
  test/src/integration/mempool.test.ts
  test/src/scheme/mempool.json
Labels: mempool, test

#884 Set the minimum yarn version
  test/package.json
  test/yarn.lock
Labels: test

#892 Fix name for kademlia extension
  discovery/src/kademlia/extension.rs
Labels: bug, network

#902 Update JSON RPC spec
  spec/JSON-RPC.md
Labels: documentation

#896 Fix Tendermint thread bug
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#907 Split `is_proposal` function's content to `is_proposal` and `on_verified_proposal`
  core/src/client/importer.rs
  core/src/consensus/mod.rs
  core/src/consensus/tendermint/mod.rs
Labels: consensus, refactoring

#912 Lengthen sync integration test timeout
  test/src/integration/sync.test.ts
Labels: test

#906 Extract a space from file name for the link in spec
  spec/CodeChain-Virtual-Machine.md
  spec/Tag-encoding.md
Labels: documentation

#917 Fix the order of operation by parentheses
  util/merkle/src/nibbleslice.rs
Labels: breaking-change, bug
