Repository CodeChain-io/codechain, pull requests merged in 2018-10, with the labels that each got.

#770 Make register_handler synchronous
  util/io/src/service.rs
Labels: bug

#771 Add sync test on no-parcel-relay
  test/src/integration/sync.test.ts
Labels: sync, test

#772 Change random account test to use PRNG
  test/package.json
  test/src/helper/random.ts
  test/src/integration/account.test.ts
  test/yarn.lock
Labels: test

#776 Check whether the version of PlatformAddress is valid
  key/src/error.rs
  key/src/platform_address.rs
Labels: account

#767 Implement sendParcel
  Cargo.lock
  codechain/rpc_apis.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/v1/impls/account.rs
  rpc/src/v1/traits/account.rs
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/unsigned_parcel.rs
  spec/JSON-RPC.md
Labels: parcel/tx, rpc

#780 Do not use ripemd160 to generate address
  codechain/json/password_file.rs
  codechain/subcommand/account_command.rs
  core/res/blake_pow.json
  core/res/cuckoo.json
  core/res/husky.json
  core/res/null.json
  core/res/saluki.json
  core/res/simple_poa.json
  core/res/solo.json
  core/res/tendermint.json
  json/src/scheme/engine.rs
  json/src/scheme/genesis.rs
  json/src/scheme/scheme.rs
  json/src/scheme/shard.rs
  json/src/scheme/simple_poa.rs
  json/src/scheme/tendermint.rs
  json/src/scheme/world.rs
  key/src/keypair.rs
  key/src/platform_address.rs
  keystore/tests/api.rs
  keystore/tests/res/ciphertext/30.json
  keystore/tests/res/ciphertext/31.json
  rpc/src/v1/impls/account.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/types/action.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/transaction.rs
Labels: account, breaking-change

#784 Make the constructor of PlatformAddress not receive a version
  codechain/subcommand/account_command.rs
  key/src/platform_address.rs
  rpc/src/v1/impls/account.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/types/action.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/transaction.rs
Labels: refactoring

#792 Fix a bug in RLP decoding while TCP stream.
  network/src/p2p/stream.rs
Labels: bug, network

#794 Update the address spec
  spec/CodeChain-Address.md
Labels: documentation

#804 Fix yarn.lock
  test/yarn.lock
Labels: test

#797 Create a scheme for Corgi testnet
  codechain/config/chain_type.rs
  core/res/corgi.json
  core/src/scheme/scheme.rs
Labels: testnet

#806 Remove the name field of keystore format
  keystore/src/account/safe_account.rs
  keystore/src/accounts_dir/disk.rs
  keystore/src/json/key_file.rs
  keystore/src/keystore.rs
  keystore/src/secret_store.rs
Labels: key

#793 Do not move back the pivot if the current is genesis
  sync/src/block/downloader/header.rs
Labels: bug, sync

#807 Combine jobs by OS on the integration test
  .travis.yml
Labels: test

#742 Add the spec of CHKMULTISIG opcode
  spec/CodeChain-Virtual-Machine.md
Labels: documentation, script

#810 Fix bug that meta field was deleted when reading key file from disk
  keystore/src/account/safe_account.rs
Labels: bug, key

#811 Change Travis setting for speedup
  .travis.yml
Labels: test

#812 Add Miner::import_incomplete_parcel()
  core/src/miner/miner.rs
  core/src/miner/mod.rs
  rpc/src/v1/impls/account.rs
Labels: miner

#815 Extract some addresses and secrets
  test/src/helper/constants.ts
  test/src/helper/spawn.ts
  test/src/integration/account.test.ts
  test/src/integration/chain.test.ts
  test/src/integration/onChainParcel.test.ts
  test/src/integration/reward.test.ts
  test/src/integration/verification.test.ts
Labels: test

#819 Fix integration tests
  test/src/helper/spawn.ts
Labels: bug, test

#820 Use `seq` instead of `nonce` if the value must be sequentially increased
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/lib.rs
  core/src/miner/local_parcels.rs
  core/src/miner/mem_pool.rs
  core/src/miner/miner.rs
  core/src/miner/mod.rs
  core/src/parcel.rs
  core/src/scheme/pod_account.rs
  core/src/scheme/pod_shard_metadata.rs
  core/src/scheme/pod_world.rs
  core/src/views/parcel.rs
  docs/parcel.rst
  rpc/src/v1/impls/account.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/parcel.rs
  rpc/src/v1/types/transaction.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/item/account.rs
  state/src/item/shard_metadata.rs
  state/src/item/world.rs
  state/src/traits.rs
  types/src/parcel/error.rs
  types/src/parcel/incomplete_parcel.rs
  types/src/parcel/parcel.rs
  types/src/transaction/error.rs
  types/src/transaction/transaction.rs
Labels: state

#828 Buffer constructor is deprecated
  test/src/integration/onChainBlock.test.ts
Labels: test

#827 Remove the option about shard validator
  codechain/codechain.yml
  codechain/config/mod.rs
  codechain/config/presets/config.dev.toml
  codechain/config/presets/config.prod.toml
  config/simple_poa.toml
  core/res/blake_pow.json
  core/res/corgi.json
  core/res/cuckoo.json
  core/res/husky.json
  core/res/null.json
  core/res/saluki.json
  core/res/simple_poa.json
  core/res/solo.json
  core/res/tendermint.json
  core/src/scheme/scheme.rs
  json/src/scheme/params.rs
  json/src/scheme/scheme.rs
  test/src/scheme/solo-block-reward-50.json
  util/logger/src/macros.rs
Labels: breaking-change, cli

#829 Remove World
  core/res/blake_pow.json
  core/res/corgi.json
  core/res/cuckoo.json
  core/res/husky.json
  core/res/null.json
  core/res/saluki.json
  core/res/simple_poa.json
  core/res/solo.json
  core/res/tendermint.json
  core/src/client/client.rs
  core/src/miner/mem_pool.rs
  core/src/parcel.rs
  core/src/scheme/mod.rs
  core/src/scheme/pod_shard_metadata.rs
  core/src/scheme/pod_world.rs
  core/src/scheme/scheme.rs
  json/src/scheme/mod.rs
  json/src/scheme/shard.rs
  json/src/scheme/world.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/transaction.rs
  spec/JSON-RPC.md
  state/src/backend.rs
  state/src/db/state_db.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/item/address.rs
  state/src/item/asset.rs
  state/src/item/asset_scheme.rs
  state/src/item/mod.rs
  state/src/item/shard_metadata.rs
  state/src/item/world.rs
  state/src/lib.rs
  state/src/traits.rs
  test/package.json
  test/src/helper/spawn.ts
  test/src/integration/chain.test.ts
  test/src/integration/transactions.test.ts
  test/src/scheme/solo-block-reward-50.json
  test/yarn.lock
  types/src/lib.rs
  types/src/transaction/error.rs
  types/src/transaction/transaction.rs
Labels: breaking-change, parcel/tx, state

#830 There is no need to cache cargo registry
  .travis.yml
Labels: test

#832 Fix the bug in copy opcode used at vm
  vm/src/executor.rs
  vm/src/tests/executor_tests/executor.rs
Labels: bug, script

#837 Upgrade Rust to 1.30
  .travis.yml
  README.md
  codechain/rpc_apis.rs
  core/src/client/client.rs
  core/src/codechain_machine.rs
  core/src/consensus/blake_pow/mod.rs
  core/src/consensus/cuckoo/mod.rs
  core/src/consensus/tendermint/mod.rs
  core/src/miner/mem_pool.rs
  core/src/parcel.rs
  core/src/verification/verification.rs
  key/src/exchange.rs
  key/src/platform_address.rs
  keystore/src/json/crypto.rs
  keystore/src/json/key_file.rs
  keystore/tests/api.rs
  network/src/p2p/handler.rs
  rpc/src/v1/impls/net.rs
  rustfmt.toml
  state/src/db/state_db.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  stratum/src/lib.rs
  sync/src/snapshot/snapshot.rs
  types/src/transaction/transaction.rs
  util/kvdb-rocksdb/src/lib.rs
  util/memorydb/src/lib.rs
  util/merkle/src/triedbmut.rs
  util/secp256k1/src/key.rs
  util/secp256k1/src/lib.rs
  vm/src/tests/executor_tests/chk_multi_sig.rs
  vm/src/tests/executor_tests/chk_sig.rs
Labels: build

#839 Macro can be imported
  core/src/consensus/tendermint/message.rs
  core/src/lib.rs
  core/src/parcel.rs
  discovery/src/kademlia/message.rs
  discovery/src/lib.rs
  discovery/src/unstructured/message.rs
  key/src/address.rs
  key/src/lib.rs
  network/src/addr.rs
  network/src/lib.rs
  network/src/p2p/message/handshake.rs
  network/src/p2p/message/negotiation.rs
  network/src/p2p/message/signed_message.rs
  network/src/session/nonce.rs
  network/src/session_initiator/message.rs
  state/src/item/asset.rs
  state/src/lib.rs
  sync/src/block/message/mod.rs
  sync/src/lib.rs
  sync/src/parcel/message.rs
  types/src/invoice/block_invoices.rs
  types/src/invoice/parcel_invoice.rs
  types/src/lib.rs
  types/src/parcel/action.rs
  types/src/transaction/error.rs
  types/src/transaction/transaction.rs
  types/src/util/unexpected.rs
Labels: test

#833 Change AssetTransactionGroup to AssetTransaction
  core/src/block.rs
  core/src/blockchain/blockchain.rs
  core/src/blockchain/body_db.rs
  core/src/blockchain/extras.rs
  core/src/blockchain/invoice_db.rs
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/codechain_machine.rs
  core/src/miner/local_parcels.rs
  core/src/miner/mem_pool.rs
  core/src/miner/miner.rs
  core/src/parcel.rs
  core/src/types/ids.rs
  docs/asset-management.rst
  docs/parcel.rst
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/action.rs
  spec/JSON-RPC.md
  spec/Parcel.md
  state/src/action_handler/hit.rs
  state/src/action_handler/mod.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/traits.rs
  test/package.json
  test/src/helper/spawn.ts
  test/src/integration/chain.test.ts
  test/src/integration/mempool.test.ts
  test/src/integration/transactions.test.ts
  test/src/integration/verification.test.ts
  test/yarn.lock
  types/src/invoice/block_invoices.rs
  types/src/invoice/mod.rs
  types/src/invoice/parcel_invoice.rs
  types/src/invoice/transaction_invoice.rs
  types/src/parcel/action.rs
  types/src/parcel/parcel.rs
Labels: breaking-change, parcel/tx
