Repository CodeChain-io/codechain, pull requests merged in 2018-09, with the labels that each got.

#660 Remove downloded bodies from the targets properly
  sync/src/block/downloader/body.rs
Labels: sync

#661 Send body request in random order with the length limit
  sync/src/block/downloader/body.rs
  sync/src/block/extension.rs
Labels: sync

#664 Send a sync parcel message only when there are unsent parcels
  sync/src/parcel/extension.rs
Labels: sync

#674 Delete temporal & unused code in the account test
  test/src/integration/account.test.ts
Labels: test

#677 Add integration tests for transactions
  test/src/helper/spawn.ts
  test/src/integration/transactions.test.ts
Labels: test

#679 Remove the InvalidParams case from the account RPC tests
  test/src/integration/account.test.ts
Labels: rpc, test

#690 Fix JSON-RPC spec for chain_getBestBlockId method
  spec/JSON-RPC.md
Labels: documentation

#689 Add tests on the memory pool
  test/src/helper/spawn.ts
  test/src/integration/mempool.test.ts
Labels: mempool, test

#657 Add sync test with multiple nodes
  test/src/integration/sync.test.ts
Labels: sync, test

#699 Call on_initialize on the main thread
  network/src/service.rs
Labels: network

#694 Store failed parcels
  state/src/impls/top_level.rs
Labels: parcel/tx

#703 Remove nonexist data RLP decoding in Negotiation message
  network/src/p2p/message/negotiation.rs
Labels: network

#708 Change the RPC spec of chain_getNonce/getBalance
  spec/JSON-RPC.md
Labels: rpc

#700 Add tests on sending invalid parcels
  test/package.json
  test/src/helper/spawn.ts
  test/src/integration/basic.test.ts
  test/src/integration/verification.test.ts
Labels: parcel/tx, test

#711 Set WAIT_BEFORE_SHUTDOWN to 0 for the tests
  test/src/helper/spawn.ts
Labels: test

#716 Run "cargo build" before starting integration tests
  .travis.yml
  test/package.json
Labels: test

#717 Disallow minting or transferring zero amount of assets
  test/package.json
  test/src/integration/transactions.test.ts
  test/yarn.lock
  types/src/transaction/error.rs
  types/src/transaction/transaction.rs
Labels: parcel/tx, test, verification

#714 Create saluki chain
  core/res/saluki.json
Labels: testnet

#713 Do refactoring and simplify the sync code
  sync/src/block/extension.rs
Labels: sync

#722 Stop importing when there is an import error
  sync/src/block/extension.rs
Labels: sync

#726 Add JSON RPC spec for chain_getBlockByNumber
  spec/JSON-RPC.md
Labels: documentation, rpc

#729 Make Solo able to set the author
  codechain/run_node.rs
  core/src/miner/miner.rs
Labels: miner

#730 Add saluki to the cli chain option
  codechain/codechain.yml
  codechain/config/chain_type.rs
  core/src/scheme/scheme.rs
Labels: cli

#734 Do not use Arc for BlockChain
  core/src/client/client.rs
Labels: refactoring

#738 Update CodeChain-Address.md
  spec/CodeChain-Address.md
Labels: documentation

#733 Add tests for block reward
  test/src/helper/spawn.ts
  test/src/integration/reward.test.ts
  test/src/scheme/solo-block-reward-50.json
Labels: miner, test

#739 Fix missing await
  test/src/helper/spawn.ts
  test/src/integration/rpc/network.test.ts
Labels: test

#740 Make RPC represent transaction hash
  rpc/src/v1/types/transaction.rs
Labels: rpc

#741 Fix the bug that transaction invoice becomes invalid after reorganization
  core/src/blockchain/body_db.rs
  test/src/integration/sync.test.ts
Labels: bug, sync

#743 Split empty block tests from sync tests
  test/src/integration/sync.test.ts
  test/src/integration/syncEmptyBlock.test.ts
Labels: test

#747 Fix the tests broken in b528068
  test/src/integration/network.test.ts
Labels: test

#732 Handle multiple connections between two nodes
  network/src/p2p/handler.rs
  network/src/routing_table.rs
Labels: bug, network

#749 Fix a typo in documentation
  docs/introduction.rst
Labels: documentation

#725 Add WebSocket support to JSON-RPC
  Cargo.lock
  codechain/codechain.yml
  codechain/config/mod.rs
  codechain/config/presets/config.dev.toml
  codechain/config/presets/config.prod.toml
  codechain/rpc.rs
  codechain/run_node.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/rpc_server.rs
Labels: rpc

#751 Disable IPC and WebSocket in the integration test
  test/src/helper/spawn.ts
Labels: test

#750 Change default RUST_LOG value when spawn
  test/src/helper/spawn.ts
Labels: test

#755 Refactor Miner and MinerService
  core/src/miner/miner.rs
Labels: miner, refactoring

#748 Support tagging in a whitelist/blacklist
  codechain/config/mod.rs
  codechain/dummy_network_service.rs
  network/src/config.rs
  network/src/control.rs
  network/src/filters/control.rs
  network/src/filters/filter.rs
  network/src/filters/filters.rs
  network/src/filters/mod.rs
  network/src/lib.rs
  network/src/service.rs
  network/src/session_initiator/handler.rs
  rpc/src/v1/impls/net.rs
  rpc/src/v1/traits/net.rs
  rpc/src/v1/types/mod.rs
  spec/JSON-RPC.md
Labels: network, rpc

#763 Fix the network tests broken at fe198c78
  test/package.json
  test/src/integration/network.test.ts
  test/yarn.lock
Labels: network, test

#766 Handle the case that TCP reads 0 byte
  network/src/p2p/stream.rs
Labels: network

#758 Add the spec for sendParcel RPC
  spec/JSON-RPC.md
Labels: documentation, rpc
