Repository CodeChain-io/codechain, pull requests merged in 2018-08, with the labels that each got.

#518 Make Chain decide whether to use shard validation
  codechain/main.rs
  codechain/rpc_apis.rs
  core/res/blake_pow.json
  core/res/cuckoo.json
  core/res/null.json
  core/res/solo.json
  core/res/solo_authority.json
  core/res/tendermint.json
  core/src/spec/spec.rs
  json/src/spec/params.rs
  json/src/spec/spec.rs
Labels: shard

#519 Disable devel RPC methods by default for release build
  codechain/codechain.yml
  codechain/config/mod.rs
  codechain/main.rs
  codechain/rpc.rs
  codechain/rpc_apis.rs
Labels: rpc

#520 Add signatures field to ChangeShardState
  core/src/blockchain/blockchain.rs
  core/src/client/test_client.rs
  core/src/miner/local_parcels.rs
  core/src/miner/mem_pool.rs
  core/src/shard_validator/message.rs
  state/src/impls/top_level.rs
  types/src/parcel/action.rs
Labels: tx

#506 Add JSON RPC network_id
  core/src/lib.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
Labels: rpc

#523 Make fee_payer be always master account
  state/src/impls/top_level.rs
Labels: state

#513 Add chain_isAssetSpent RPC API
  core/src/client/client.rs
  core/src/client/mod.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
Labels: rpc, state

#539 Add basic unittest for cuckoo engine. (#476)
  core/src/consensus/cuckoo/mod.rs
Labels: consensus

#550 Embed a world id in an asset scheme address
  core/src/miner/mem_pool.rs
  core/src/parcel.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
  state/src/db.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/item/asset_scheme.rs
  types/src/transaction/transaction.rs
Labels: rpc, tx

#566 Check the permission before minting
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
Labels: state, verification

#562 Check whether the parcel's signer matches the asset's registrar or not
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  types/src/transaction/error.rs
Labels: verification

#567 Rename Asset to OwnedAsset and refactor it to group asset_type and am…
  core/src/client/client.rs
  core/src/client/mod.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  state/src/backend.rs
  state/src/db.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/item/asset.rs
  state/src/item/mod.rs
  state/src/lib.rs
  state/src/traits.rs
Labels: state

#570 Add missing transaction type to spec
  spec/JSON-RPC.md
Labels: spec

#573 Declare Action in rpc module
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/impls/shard_validator.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/traits/shard_validator.rs
  rpc/src/v1/types/action.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/parcel.rs
  types/src/parcel/action.rs
Labels: rpc

#580 Add a specification about a whitelist/blacklist
  rpc/src/v1/impls/net.rs
  rpc/src/v1/traits/net.rs
  rpc/src/v1/types/mod.rs
  spec/JSON-RPC.md
Labels: documentation, network, rpc

#577 Use PlatformAddress in CLI
  codechain/config/mod.rs
  codechain/run_node.rs
  docs/basic-usage.rst
Labels: cli

#587 Increase the cost of creating a shard temporary
  state/src/impls/top_level.rs
Labels: testnet

#595 Implement the errors of chain_sendSignedParcel method
  rpc/src/v1/errors.rs
  spec/JSON-RPC.md
Labels: rpc

#594 Make engines give the total fee to the block author as a reward
  core/src/consensus/blake_pow/mod.rs
  core/src/consensus/cuckoo/mod.rs
  core/src/consensus/null_engine/mod.rs
  core/src/consensus/solo/mod.rs
  core/src/consensus/solo_authority/mod.rs
  core/src/consensus/tendermint/mod.rs
Labels: state, tx

#593 Wait before shutdown to avoid the crash
  codechain/main.rs
  codechain/run_node.rs
Labels: bug

#602 Fix broken links and typo in docs
  docs/basic-usage.rst
  docs/how-to-configure.rst
  docs/lock-script.rst
Labels: documentation

#598 Make account CLI arguments global
  codechain/codechain.yml
  codechain/subcommand/account_command.rs
Labels: cli

#603 Add external keystore example to doc
  docs/asset-management.rst
Labels: documentation

#608 Add whitelist/blacklist to the CLI option
  codechain/codechain.yml
  codechain/config/mod.rs
  codechain/config/presets/config.dev.toml
  codechain/run_node.rs
  network/src/config.rs
  network/src/filters/filter.rs
  network/src/filters/filters.rs
Labels: cli, network

#611 Fix the manual about how to run key management server
  docs/asset-management.rst
Labels: documentation

#633 Implement net_getEstablishedPeers
  codechain/dummy_network_service.rs
  network/src/control.rs
  network/src/p2p/connections.rs
  network/src/p2p/handler.rs
  network/src/service.rs
  rpc/src/v1/impls/net.rs
  rpc/src/v1/traits/net.rs
  spec/JSON-RPC.md
Labels: network, rpc

#634 Make InvalidNetworkId hold the Network ID
  core/src/parcel.rs
  key/src/error.rs
  key/src/platform_address.rs
  rpc/src/v1/errors.rs
  types/src/parcel/error.rs
Labels: network, rpc

#635 Push a parcel only when verification passes
  core/src/miner/miner.rs
Labels: bug, tx, verification

#632 Pass whitelist/blacklist via file path
  codechain/codechain.yml
  codechain/config/mod.rs
  codechain/config/presets/config.dev.toml
  codechain/config/presets/config.prod.toml
  codechain/run_node.rs
Labels: cli, network
