Repository CodeChain-io/codechain, pull requests merged in 2018-12, with the labels that each got.

#920 Add sync test for Tendermint consensus
  test/src/integration/tendermint.test.ts
Labels: consensus, test

#895 Add devel_getBlockSyncPeers RPC API
  Cargo.lock
  codechain/rpc_apis.rs
  codechain/run_node.rs
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/v1/impls/devel.rs
  rpc/src/v1/traits/devel.rs
  spec/JSON-RPC.md
  sync/src/block/extension.rs
  sync/src/block/mod.rs
  sync/src/lib.rs
Labels: rpc, sync

#921 Register tendermint's chain_notify
  codechain/run_node.rs
Labels: consensus

#923 Change unit test of stratum to use unused ports
  stratum/src/lib.rs
Labels: miner, test

#899 Tendermint: do not lock on the height `h` if a block is committed in the height `h`
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#941 Remove Deserialize/Serialize from types on tx
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/transaction.rs
  rpc/src/v1/types/transaction_with_hash.rs
  types/src/transaction/transaction.rs
Labels: rpc

#940 Adjust derived traits
  rpc/src/v1/types/transaction.rs
Labels: rpc

#943 Change named link "link" to unnamed link in asset management doc
  docs/asset-management.rst
Labels: documentation

#891 Make a Tendermint's block contain the previous block's signature
  codechain/test_lock.rs
  core/res/corgi.json
  core/res/tendermint.json
  core/src/client/importer.rs
  core/src/consensus/mod.rs
  core/src/consensus/simple_poa/mod.rs
  core/src/consensus/solo/mod.rs
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/types.rs
  core/src/consensus/vote_collector.rs
  core/src/miner/miner.rs
  core/src/scheme/seal.rs
  json/src/scheme/genesis.rs
  json/src/scheme/scheme.rs
  json/src/scheme/seal.rs
  test/src/scheme/tendermint.json
Labels: consensus

#942 Use Promise.all to request concurrently
  test/src/integration/discovery2.test.ts
  test/src/integration/mempool.test.ts
  test/src/integration/sync.test.ts
  test/src/integration/syncEmptyBlock.test.ts
Labels: test

#933 Add signature to Tendermint's proposal message
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
  sync/src/block/extension.rs
Labels: consensus, verification

#954 Add jobs to run integration tests
  .travis.yml
Labels: test

#955 Increase the timeout of integration test
  test/src/integration.long/onChainParcel.test.ts
Labels: test

#960 Do not run integration tests parallel
  test/package.json
  test/yarn.lock
Labels: test

#934 Import proposal block early
  core/src/client/importer.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/vote_collector.rs
  core/src/miner/miner.rs
Labels: consensus

#963 Make unit tests in state module simple
  state/src/impls/mod.rs
  state/src/impls/shard_level.rs
  state/src/impls/test_helper.rs
  state/src/impls/top_level.rs
  state/src/item/account.rs
  state/src/item/metadata.rs
Labels: test

#974 Allow precommit messages on Commit step in Tendermint
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/vote_collector.rs
Labels: consensus

#978 Add timeout token counter in Tendermint
  core/src/consensus/mod.rs
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#977 Go to Prevote step when proposal block arrives/is created
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#984 Write proposal block always when it arrives
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#967 Add spec on orders
  spec/Order.md
Labels: documentation

#991 Fix a bug in ChkMultiSig
  util/secp256k1/src/key.rs
  vm/src/executor.rs
  vm/src/tests/executor_tests/chk_multi_sig.rs
Labels: bug, script

#990 Add Tendermint test code with the SDK
  test/package.json
  test/src/helper/spawn.ts
  test/src/tendermint.test/local.ts
  test/src/tendermint.test/remote.ts
Labels: consensus, test

#989 Add benchmark tests for key module
  key/benches/ecdsa.rs
  key/benches/schnorr.rs
Labels: key

#969 Save Tendermint's state to the DB
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/consensus/tendermint/backup.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/vote_collector.rs
Labels: bug, consensus

#986 Make each parcel types have different min costs
  core/res/blake_pow.json
  core/res/corgi.json
  core/res/cuckoo.json
  core/res/husky.json
  core/res/null.json
  core/res/saluki.json
  core/res/simple_poa.json
  core/res/solo.json
  core/res/tendermint.json
  core/src/codechain_machine.rs
  core/src/scheme/scheme.rs
  json/src/scheme/params.rs
  json/src/scheme/scheme.rs
  test/src/scheme/mempool.json
  test/src/scheme/solo-block-reward-50.json
  test/src/scheme/tendermint.json
Labels: parcel/tx, scheme

#992 Cleanup tendermint code
  core/src/consensus/tendermint/mod.rs
Labels: consensus, refactoring

#995 Apply clippy for tests
  core/src/consensus/tendermint/mod.rs
  core/src/miner/mem_pool.rs
  json/src/scheme/blake_pow.rs
  json/src/scheme/cuckoo.rs
  json/src/scheme/genesis.rs
  json/src/scheme/params.rs
  key/src/platform_address.rs
  keystore/src/account/safe_account.rs
  keystore/src/accounts_dir/disk.rs
  keystore/src/json/key_file.rs
  keystore/tests/api.rs
  network/src/client.rs
  network/src/p2p/message/extension.rs
  network/src/p2p/message/negotiation.rs
  network/src/session/session.rs
  network/src/session_initiator/message.rs
  state/src/item/asset.rs
  state/src/item/asset_scheme.rs
  stratum/src/lib.rs
  sync/src/snapshot/snapshot.rs
  types/src/transaction/transaction.rs
  types/src/util/tag.rs
  util/journaldb/src/archivedb.rs
  util/memorydb/src/lib.rs
  util/merkle/src/skewed.rs
  util/merkle/src/triedbmut.rs
  util/rlp/benches/rlp.rs
  util/rlp/src/impls.rs
  util/rlp/src/stream.rs
  util/rlp/tests/tests.rs
  util/rlp_derive/tests/rlp.rs
  vm/src/executor.rs
  vm/src/tests/executor_tests/chk_multi_sig.rs
  vm/src/tests/executor_tests/chk_sig.rs
  vm/src/tests/executor_tests/executor.rs
Labels: refactoring

#999 Use height/view getter function in Tendermint
  core/src/consensus/tendermint/mod.rs
Labels: consensus, refactoring

#952 Add initial stake distributiona and stake token transfer
  core/res/tendermint.json
  core/src/consensus/mod.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/params.rs
  core/src/consensus/tendermint/stake/action_data.rs
  core/src/consensus/tendermint/stake/actions.rs
  core/src/consensus/tendermint/stake/mod.rs
  json/src/scheme/tendermint.rs
  key/src/network.rs
  key/src/platform_address.rs
  state/src/action_handler/mod.rs
Labels: consensus

#1000 Rename Order.md to Asset-Exchange-Protocol.md
  spec/Asset-Exchange-Protocol.md
  spec/README.md
Labels: documentation

#1001 Upgrade sdk and test helper for integration tests
  test/package.json
  test/src/integration/chain.test.ts
  test/yarn.lock
Labels: test

#998 Reset Tendermint's proposal field when the round is increased
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1005 Rename to_step to on_timeout in the Tendermint
  core/src/consensus/mod.rs
  core/src/consensus/tendermint/mod.rs
Labels: consensus, refactoring

#1010 Change validator set to store public keys instaed of addresses
  core/res/corgi.json
  core/res/saluki.json
  core/res/simple_poa.json
  core/res/tendermint.json
  core/src/consensus/simple_poa/mod.rs
  core/src/consensus/simple_poa/params.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/params.rs
  core/src/consensus/validator_set/mod.rs
  core/src/consensus/validator_set/validator_list.rs
  json/src/scheme/engine.rs
  json/src/scheme/scheme.rs
  json/src/scheme/simple_poa.rs
  json/src/scheme/tendermint.rs
  test/src/scheme/tendermint.json
Labels: consensus, scheme

#1012 Change Tendermint TPS test code to get seq of faucet
  test/src/tendermint.test/local.ts
  test/src/tendermint.test/remote.ts
Labels: test

#1014 Use Schnorr signature scheme in consensus algorithms
  core/src/account_provider.rs
  core/src/consensus/mod.rs
  core/src/consensus/signer.rs
  core/src/consensus/simple_poa/mod.rs
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/vote_collector.rs
  keystore/src/account/safe_account.rs
  keystore/src/keystore.rs
  keystore/src/secret_store.rs
Labels: consensus, crypto
