Repository CodeChain-io/codechain, pull requests merged in 2018-07, with the labels that each got.

#299 Add K and T_REFRESH constants to unstructured discovery
  discovery/src/unstructured/config.rs
  discovery/src/unstructured/mod.rs
Labels: network

#341 Add BlakePoW consensus engine
  codechain/codechain.yml
  codechain/config/chain_type.rs
  core/res/blake_pow.json
  core/src/consensus/blake_pow/mod.rs
  core/src/consensus/blake_pow/params.rs
  core/src/consensus/mod.rs
  core/src/spec/spec.rs
  json/src/spec/blake_pow.rs
  json/src/spec/engine.rs
  json/src/spec/mod.rs
Labels: consensus

#344 Embed shard id in address
  core/src/client/client.rs
  core/src/state/address.rs
  core/src/state/asset.rs
  core/src/state/asset_scheme.rs
  core/src/state/metadata.rs
  core/src/state/shard.rs
  core/src/state/shard_level.rs
  core/src/state/shard_metadata.rs
  core/src/state/top_level.rs
  core/src/state_db.rs
Labels: shard, state

#390 Clarify AssetMint interface
  core/src/lib.rs
  core/src/miner/mem_pool.rs
  core/src/parcel.rs
  core/src/state/shard_level.rs
  core/src/state/top_level.rs
  core/src/transaction.rs
Labels: tx

#392 Fix JSON RPC example for Parcel changes
  spec/JSON-RPC.md
Labels: rpc, spec

#403 Make ChangeShardState support multiple shards
  core/src/blockchain/body_db.rs
  core/src/client/test_client.rs
  core/src/miner/local_parcels.rs
  core/src/miner/mem_pool.rs
  core/src/parcel.rs
  core/src/state/top_level.rs
  types/src/parcel/action.rs
  types/src/parcel/error.rs
  types/src/parcel/mod.rs
Labels: shard

#411 Do not support ip v6 for now
  discovery/src/kademlia/node_id.rs
  network/src/addr.rs
  network/src/node_id.rs
Labels: network

#416 Do not give private addresses to a public node in node discovery
  discovery/src/kademlia/extension.rs
  discovery/src/unstructured/extension.rs
  network/src/addr.rs
  network/src/routing_table.rs
Labels: network

#447 Prioritize parcels according to fee per byte
  core/src/miner/mem_pool.rs
Labels: mempool, tx

#453 Add block interval to CuckooParams and BlakePoWParams
  core/src/consensus/blake_pow/mod.rs
  core/src/consensus/blake_pow/params.rs
  core/src/consensus/cuckoo/mod.rs
  core/src/consensus/cuckoo/params.rs
  json/src/spec/blake_pow.rs
  json/src/spec/cuckoo.rs
Labels: consensus

#446 Add shard_id to AssetMint
  core/src/miner/mem_pool.rs
  core/src/parcel.rs
  spec/Parcel.md
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  types/src/transaction/transaction.rs
Labels: tx

#443 Added rpc api for chain_getCoinbase
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
Labels: miner, rpc

#463 Add RPC to get asset scheme by asset type
  core/src/client/client.rs
  core/src/client/mod.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
Labels: rpc

#440 Add the RPC to execute transactions
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/lib.rs
  rpc/src/v1/errors.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
  state/src/impls/top_level.rs
Labels: shard, tx

#467 Add Signature type
  spec/JSON-RPC.md
Labels: documentation

#478 Add snapshot period to CommonParams
  codechain/main.rs
  core/res/blake_pow.json
  core/res/cuckoo.json
  core/res/null.json
  core/res/solo.json
  core/res/solo_authority.json
  core/res/tendermint.json
  core/src/spec/spec.rs
  json/src/spec/params.rs
  json/src/spec/spec.rs
Labels: sync

#494 Add triehash & triedb
  util/merkle/src/lib.rs
  util/merkle/src/triedb.rs
  util/merkle/src/triedbmut.rs
  util/merkle/src/triehash.rs
Labels: state, util

#507 Update setup.rst
  docs/setup.rst
Labels: documentation

#502 Add get_with() function and make TrieFactory and TrieKinds
  util/merkle/src/lib.rs
  util/merkle/src/node.rs
  util/merkle/src/triedb.rs
  util/merkle/src/triedbmut.rs
Labels: state, util

#503 Add chain_getTransaction RPC API
  core/src/blockchain/blockchain.rs
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
Labels: rpc

#505 Add chain_isAssetSpent RPC spec
  spec/JSON-RPC.md
Labels: rpc

#512 Change the way to create the address of top level item
  state/src/item/address.rs
Labels: state
