Repository CodeChain-io/codechain, pull requests merged in 2019-12, with the labels that each got.

#1903 Reduce the failure rate of testing total shutdown
  test/src/e2e.dynval/2/dv.shutdown.test.ts
Labels: consensus, test

#1906 Do not stop nodes while changing a term in the partial shutdown test
  test/src/e2e.dynval/2/dv.shutdown.test.ts
Labels: test

#1909 Make --chain argument global
  codechain/codechain.yml
Labels: cli

#1907 Accept arbitrary string as a chain type
  codechain/config/chain_type.rs
Labels: cli

#1908 Extract aggregate_work_info function
  core/src/consensus/tendermint/engine.rs
Labels: refactoring

#1918 Add a comment for height change functions about the `step` field
  core/src/consensus/tendermint/worker.rs
Labels: consensus

#1924 Move rlp_derive and rlp_compress to the other repository
  Cargo.lock
  core/Cargo.toml
  network/Cargo.toml
  state/Cargo.toml
  types/Cargo.toml
  util/rlp_compress/Cargo.toml
  util/rlp_compress/src/common.rs
  util/rlp_compress/src/lib.rs
  util/rlp_compress/tests/compress.rs
  util/rlp_derive/Cargo.toml
  util/rlp_derive/src/de.rs
  util/rlp_derive/src/en.rs
  util/rlp_derive/src/lib.rs
  util/rlp_derive/tests/rlp.rs
Labels: util

#1927 Fix the changeParams test
  test/src/e2e/changeParams.test.ts
Labels: test

#1926 Add a restriction comment to the verify_block_family function
  core/src/consensus/mod.rs
Labels: consensus, documentation

#1928 Do not export TrieDB and TrieDBMut
  core/src/scheme/scheme.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/tests.rs
  sync/src/snapshot/snapshot.rs
  util/merkle/benches/triedb.rs
  util/merkle/src/lib.rs
  util/merkle/src/triedb.rs
  util/merkle/src/triedbmut.rs
Labels: util
