Repository CodeChain-io/codechain, pull requests merged in 2019-01, with the labels that each got.

#1017 Remove `cargo build` when running remote TPS check
  test/package.json
Labels: test

#1019 Add ActionHandlers to Solo
  core/res/solo.json
  core/src/consensus/solo/mod.rs
  core/src/consensus/solo/params.rs
  json/src/scheme/solo.rs
Labels: rpc, test

#1004 Use pull gossip in Tendermint
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/types.rs
  core/src/consensus/validator_set/mod.rs
  core/src/consensus/validator_set/validator_list.rs
  core/src/consensus/vote_collector.rs
Labels: consensus

#1016 Use coarse-grained lock in the Tendermint
  core/src/consensus/tendermint/mod.rs
Labels: consensus, refactoring

#1029 Update Parcel documentation
  docs/asset-management.rst
  docs/basic-usage.rst
  docs/gateway.rst
  docs/glossary.rst
  docs/parcel.rst
  docs/transaction-process.png
  docs/transaction.rst
  docs/transactions.png
  spec/Asset-Exchange-Protocol.md
  spec/CodeChain-Account.md
  spec/CodeChain-Virtual-Machine.md
  spec/JSON-RPC.md
  spec/List-of-Network-Id.md
  spec/Parcel.md
  spec/README.md
  spec/State-Trie.md
  spec/Transaction.md
Labels: documentation, transaction

#1020 Leave log when mempool tests fail
  test/src/integration/mempool.test.ts
Labels: test

#1021 Refactor the mem pool code
  core/src/miner/mem_pool.rs
Labels: mempool, refactoring

#1026 Add integration tests for ScriptError
  test/src/integration.long/transactions.test.ts
Labels: test

#1013 Change signer public to signer index on Tendermint messages
  core/src/consensus/mod.rs
  core/src/consensus/simple_poa/mod.rs
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/types.rs
  core/src/consensus/validator_set/mod.rs
  core/src/consensus/validator_set/validator_list.rs
  core/src/consensus/vote_collector.rs
Labels: consensus

#1030 Change how we do fail-fast travis job
  .travis.yml
Labels: test

#1031 Handle the message that received after the peer is disconnected
  core/src/consensus/tendermint/mod.rs
Labels: consensus, network

#1038 Wait more time if Tendermint's current round is increased
  core/res/corgi.json
  core/res/tendermint.json
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/params.rs
  json/src/scheme/tendermint.rs
  test/src/scheme/tendermint.json
Labels: consensus

#1039 Fix TPS test code to use updated SDK functions
  test/src/tendermint.test/local.ts
  test/src/tendermint.test/remote.ts
Labels: test

#1034 Change the field order in ConsensusMessage
  core/src/consensus/tendermint/message.rs
Labels: consensus, refactoring

#1045 Remove inner locks of the Tendermint
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1054 Remove Error::InvalidShardRoot
  types/src/transaction/parcel_error.rs
Labels: refactoring

#1050 Enable mergify.io
  .mergify.yml
Labels: test

#1058 Change mergify not to merge WIP
  .mergify.yml
Labels: test

#1059 Remove commented-reviews-by option in the mergify.yml
  .mergify.yml
Labels: build

#1055 Rename transactionHash to tracker
  core/src/blockchain/blockchain.rs
  core/src/blockchain/body_db.rs
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/codechain_machine.rs
  core/src/miner/miner.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/asset_input.rs
  spec/JSON-RPC.md
  state/src/impls/shard_level.rs
  state/src/impls/test_helper.rs
  state/src/item/address.rs
  state/src/item/asset_scheme.rs
  test/package.json
  test/src/helper/spawn.ts
  test/src/integration.long/sync2.test.ts
  test/src/integration.long/timelock.test.ts
  test/src/integration.long/transactions.test.ts
  test/src/integration/chain.test.ts
  test/src/integration/mempool.test.ts
  test/src/integration/verification.test.ts
  test/yarn.lock
  types/src/transaction/action.rs
  types/src/transaction/asset_out_point.rs
  types/src/transaction/order.rs
  types/src/transaction/shard.rs
  vm/src/executor.rs
  vm/src/tests/executor_tests/chk_multi_sig.rs
  vm/src/tests/executor_tests/chk_sig.rs
  vm/src/tests/executor_tests/executor.rs
Labels: breaking-change, rpc, transaction

#1057 Split TransactionSet into CurrentTxSet/FutureTxSet
  core/src/miner/mem_pool.rs
Labels: mempool, refactoring

#1056 Revert Tendermint locks
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1063 Make IoService handle only one Handler
  Cargo.lock
  util/io/Cargo.toml
  util/io/src/lib.rs
  util/io/src/service.rs
  util/io/src/worker.rs
Labels: refactoring, util

#1066 Fix parcel -> transaction in a mempool's comment
  core/src/miner/mem_pool.rs
Labels: mempool

#1065 Move verification part of add_internal to verify_transaction
  core/src/miner/mem_pool.rs
Labels: mempool, refactoring

#1046 Introduce a limited asset
  core/src/miner/mem_pool.rs
  rpc/src/v1/types/action.rs
  state/src/impls/shard_level.rs
  state/src/impls/test_helper.rs
  state/src/impls/top_level.rs
  state/src/item/asset_scheme.rs
  test/package.json
  test/src/integration/verification.test.ts
  test/yarn.lock
  types/src/transaction/action.rs
  types/src/transaction/error.rs
  types/src/transaction/shard.rs
Labels: transaction

#1070 Enhance Tendermint unit tests
  test/src/integration.long/tendermint.test.ts
Labels: consensus, test

#1075 Ignore the TokenAlreadyScheduled error of the reseal_timer
  core/src/client/client.rs
Labels: bug, miner

#1086 Update documentation regarding CodeChain installation.
  docs/setup.rst
Labels: documentation

#1084 Update gitter rooms
  docs/community.rst
Labels: documentation

#1072 Make the verification succeed even if the block's timestamp is not changed
  core/src/header.rs
  core/src/miner/mem_pool.rs
  core/src/verification/verification.rs
Labels: consensus

#1091 Use camelCase for JSON-RPC
  rpc/src/v1/types/action.rs
Labels: rpc

#1085 Update CodeChain Offerings documentation
  docs/what-features-does-codechain-offer.rst
Labels: documentation

#1097 Update CodeChain-Virtual-Machine.md
  spec/CodeChain-Virtual-Machine.md
Labels: documentation

#1098 Update Session-Initiation-Protocol.md
  spec/Session-Initiation-Protocol.md
Labels: documentation

#1092 Add Payment/TransferAsset tx-based scenario benchmark
  key/benches/scenario.rs
Labels: crypto, test

#1103 Update Node-Discovery-Protocol.md
  spec/Node-Discovery-Protocol.md
Labels: documentation

#1104 Update List-of-Network-Id.md
  spec/List-of-Network-Id.md
Labels: documentation

#1102 Update Network-Extension-Protocol.md
  spec/Network-Extension-Protocol.md
Labels: documentation

#1106 Remove the signer index field from Tendermint proposal messages
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/vote_collector.rs
Labels: consensus

#1110 Update Hash-Function.md
  spec/Hash-Function.md
Labels: documentation

#1113 Update Merkle-Trie.md
  spec/Merkle-Trie.md
Labels: documentation

#1116 Update Digital-Signature.md
  spec/Digital-Signature.md
Labels: documentation

#1112 Remove a redundant if statement from the importer
  core/src/client/importer.rs
Labels: refactoring

#1101 Skip travis build for docuemnt-only change commit
  .travis.yml
  .travis/check-doc-change
Labels: test

#1115 Fix proposal_generated() to use num_validators
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1109 change parameters' form to hex string vector
  Cargo.lock
  Cargo.toml
  rpc/src/v1/errors.rs
  rpc/src/v1/impls/account.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/types/action.rs
  rpc/src/v1/types/asset_output.rs
  rpc/src/v1/types/unsigned_transaction.rs
  test/package-lock.json
  test/package.json
  test/yarn.lock
Labels: breaking-change, rpc

#1118 Remove duplicated code in discovery module
  codechain/run_node.rs
  discovery/src/config.rs
  discovery/src/extension.rs
  discovery/src/kademlia/config.rs
  discovery/src/kademlia/message.rs
  discovery/src/kademlia/mod.rs
  discovery/src/lib.rs
  discovery/src/message.rs
  discovery/src/node_id.rs
  discovery/src/unstructured/extension.rs
  discovery/src/unstructured/mod.rs
Labels: network

#1114 Update the best block when moving to the commit step in Tendermint
  core/src/blockchain/blockchain.rs
  core/src/blockchain/headerchain.rs
  core/src/blockchain/route.rs
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/consensus/tendermint/mod.rs
  core/src/service.rs
  state/src/cache/global_cache.rs
  state/src/db/state_db.rs
Labels: consensus, help wanted

#1127 Make last_time/last_timestamp in MemPool updated
  core/src/miner/mem_pool.rs
Labels: bug, mempool

#1128 Skip Travis build for the mergify merge commit
  .travis.yml
Labels: do-not-merge

#1135 Fix .travis.yml syantax error
  .travis.yml
Labels: test

#1138 Move types used in mempool to mem_pool_types
  core/src/miner/mem_pool.rs
  core/src/miner/mem_pool_types.rs
  core/src/miner/miner.rs
  core/src/miner/mod.rs
Labels: mempool, refactoring

#1145 Add Tendermint key benchmark test
  key/benches/pay_and_transfer.rs
  key/benches/tendermint.rs
Labels: test

#1134 Split tendermint scheme file in E2E/TPS test
  test/src/integration.long/tendermint.test.ts
  test/src/scheme/tendermint-int.json
  test/src/scheme/tendermint-tps.json
  test/src/tendermint.test/local.ts
Labels: test

#1133 Change the default mempool limit
  codechain/config/presets/config.dev.toml
  codechain/config/presets/config.prod.toml
Labels: mempool

#1144 Call broadcast_state from handle_valid_message in Tendermint
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1146 Request pre-commits when in the commit state in Tendermint
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1122 Remove the previous block hash from last_confirmed_view in Tendermint
  core/src/consensus/tendermint/backup.rs
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1157 Add is_pending_queue_empty function in Client
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
Labels: refactoring

#1161 Add verification E2E test cases on invalid action length
  test/src/integration/verification.test.ts
Labels: test

#1162 Rename ActionWithId to ActionWithTracker
  rpc/src/v1/types/action.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/transaction.rs
Labels: breaking-change, refactoring, rpc, transaction

#951 Add devel RPC function for TPS test
  Cargo.lock
  rpc/Cargo.toml
  rpc/src/lib.rs
  rpc/src/v1/impls/devel.rs
  rpc/src/v1/traits/devel.rs
  rpc/src/v1/types/mod.rs
  spec/JSON-RPC.md
Labels: rpc, test

#1169 Implement Encodable/Decodable for u128
  util/rlp/src/impls.rs
Labels: util

#1173 Move to propose step even there's no imported block
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1179 Fix spelling error
  core/src/miner/mem_pool.rs
  core/src/miner/miner.rs
Labels: mempool

#1177 Add chain_getPendingTransactionsCount API
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
Labels: rpc

#1185 Update Tendermint TPS test scheme file
  test/src/scheme/tendermint-tps.json
Labels: test

#1187 Fix Tendermint proposal block importing logic
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/types.rs
  core/src/miner/miner.rs
Labels: bug, consensus

#1186 Remove NodeIdRequest/NodeIdResponse
  network/src/routing_table.rs
  network/src/session_initiator/handler.rs
  network/src/socket/message.rs
  test/package.json
  test/yarn.lock
Labels: network

#1190 Rename parcel-propagation to transaction-propagation
  codechain/run_node.rs
  sync/src/block/downloader/body.rs
  sync/src/block/extension.rs
  sync/src/lib.rs
  sync/src/transaction/extension.rs
  sync/src/transaction/message.rs
  sync/src/transaction/mod.rs
  test/package.json
  test/src/integration.long/invalidBlockPropagation.helper.ts
  test/src/integration.long/invalidBlockPropagation5.test.ts
  test/src/integration.long/onChainBlockValid.test.ts
  test/src/integration.long/onChainParcel.test.ts
  test/yarn.lock
  util/logger/src/macros.rs
Labels: breaking-change, sync

#1191 Rename integration tests to e2e tests
  test/README.md
  test/package.json
  test/src/e2e.long/account.test.ts
  test/src/e2e.long/accountUnlock.test.ts
  test/src/e2e.long/discovery2.test.ts
  test/src/e2e.long/discovery5.test.ts
  test/src/e2e.long/futureTransaction.test.ts
  test/src/e2e.long/invalidBlockPropagation.helper.ts
  test/src/e2e.long/invalidBlockPropagation0.test.ts
  test/src/e2e.long/invalidBlockPropagation1.test.ts
  test/src/e2e.long/invalidBlockPropagation2.test.ts
  test/src/e2e.long/invalidBlockPropagation3.test.ts
  test/src/e2e.long/invalidBlockPropagation4.test.ts
  test/src/e2e.long/invalidBlockPropagation5.test.ts
  test/src/e2e.long/invalidBlockPropagation6.test.ts
  test/src/e2e.long/invalidBlockPropagation7.test.ts
  test/src/e2e.long/invalidBlockPropagation8.test.ts
  test/src/e2e.long/invalidBlockPropagation9.test.ts
  test/src/e2e.long/mempool.test.ts
  test/src/e2e.long/onChainBlockValid.test.ts
  test/src/e2e.long/onChainParcel.test.ts
  test/src/e2e.long/orders.test.ts
  test/src/e2e.long/reward2.test.ts
  test/src/e2e.long/sync2.test.ts
  test/src/e2e.long/sync3.test.ts
  test/src/e2e.long/sync5.test.ts
  test/src/e2e.long/tendermint.test.ts
  test/src/e2e.long/timelock.test.ts
  test/src/e2e.long/transactions.test.ts
  test/src/e2e/account.test.ts
  test/src/e2e/basic.test.ts
  test/src/e2e/chain.test.ts
  test/src/e2e/engine.test.ts
  test/src/e2e/mempool.test.ts
  test/src/e2e/network1.test.ts
  test/src/e2e/network2.test.ts
  test/src/e2e/regularkey.test.ts
  test/src/e2e/reward.test.ts
  test/src/e2e/reward1.test.ts
  test/src/e2e/storeRemove.test.ts
  test/src/e2e/syncEmptyBlock.test.ts
  test/src/e2e/verification.test.ts
Labels: refactoring, test

#1189 Fix the bug that a node does not request unknown votes
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1188 Move to the next height in the propose step, not in the commit step
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1197 Remove deprecated handshake messages.
  network/src/session_initiator/handler.rs
  network/src/socket/message.rs
Labels: breaking-change, network

#1199 No need to use sudo-enabled Travis worker
  .travis.yml
Labels: test

#1200 Container-based worker has been deprecated
  .travis.yml
Labels: test

#1201 Make IoService move the message to the handler
  core/src/service.rs
  network/src/p2p/connection.rs
  network/src/p2p/connections.rs
  network/src/p2p/handler.rs
  network/src/p2p/message/extension.rs
  network/src/session_initiator/handler.rs
  util/io/src/lib.rs
  util/io/src/service.rs
  util/io/src/worker.rs
Labels: network, util

#1196 Fix the bug that prevented the height from increasing
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1202 Add mempool benchmark tests
  core/Cargo.toml
  core/src/lib.rs
  core/src/miner/mem_pool_benches.rs
  core/src/miner/mod.rs
Labels: mempool, test

#1208 Fix backup bug in the mempool
  core/src/miner/mem_pool.rs
Labels: bug

#1210 Add thread_name to the slogger
  util/logger/src/logger.rs
  util/logger/src/structured_logger.rs
Labels: logging

#1207 Reduce loop iterations in the `signatures` function
  core/src/consensus/tendermint/types.rs
Labels: consensus

#1214 Do not kill asset scheme when decomposing
  state/src/cache/shard_cache.rs
  state/src/impls/shard_level.rs
Labels: state

#1211 Fix the bug that restoring Tendermint causes crash because the extension is not initialized
  core/src/consensus/tendermint/mod.rs
  test/src/e2e.long/tendermint.test.ts
Labels: consensus

#1218 Add flag to expand bash commands
  .travis/check-change
  .travis/check-mergify-merge
Labels: test

#1213 Load the Tendermint's backup data by calling `handle_message`
  core/src/consensus/tendermint/mod.rs
Labels: consensus
