Repository CodeChain-io/codechain, pull requests merged in 2019-07, with the labels that each got.

#1667 Fix typo "chain_getTransactionSigner"
  spec/JSON-RPC.md
Labels: rpc

#1666 Make additional reward to be added to pending_reward
  core/src/consensus/tendermint/engine.rs
Labels: bug

#1674 Break a tie on the validator election
  core/src/consensus/stake/action_data.rs
  spec/Dynamic-Validator.md
Labels: consensus

#1680 Increase max incoming connection
  network/src/p2p/handler.rs
Labels: network

#1689 Bump the lodash version
  test/yarn.lock
Labels: test

#1706 Specify test timeout and slowness.
  test/src/e2e.dynval/dv.n'.test.ts
  test/src/e2e.dynval/dv.n.test.ts
  test/src/e2e.dynval/setup.ts
Labels: test

#1690 Add M->M' test
  test/src/e2e.dynval/dv.m-m'.test.ts
Labels: test

#1703 Add downtime test
  test/src/e2e.dynval/dv.shutdown.test.ts
  test/src/e2e.dynval/setup.ts
Labels: test

#1697 Add test cases to the test suite "changeParams"
  test/src/e2e.dynval/dv.changeParams.test.ts
Labels: test

#1716 Fix not to swallow errors
  .travis/check-change
  .travis/check-mergify-merge
Labels: bug, test
