Repository CodeChain-io/codechain, pull requests merged in 2019-03, with the labels that each got.

#1323 Reduce tendermint messages
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1330 Run rustfmt and clippy on a Linux only
  .travis.yml
Labels: test

#1335 Import the TestHelper source
  test/package.json
  test/src/e2e.long/invalidBlockPropagation.helper.ts
  test/src/e2e.long/onChainBlockValid.test.ts
  test/src/e2e.long/onChainTx.test.ts
  test/src/helper/mock/blockSyncMessage.ts
  test/src/helper/mock/cHeader.ts
  test/src/helper/mock/example/send-block.ts
  test/src/helper/mock/example/send-tx.ts
  test/src/helper/mock/index.ts
  test/src/helper/mock/message.ts
  test/src/helper/mock/p2pLayer.ts
  test/src/helper/mock/test/blockSyncMessage.test.ts
  test/src/helper/mock/test/message.test.ts
  test/src/helper/mock/test/txSyncMessage.test.ts
  test/src/helper/mock/transactionSyncMessage.ts
  test/tslint.json
  test/yarn.lock
Labels: test

#1337 Make the network module try to have at least one connection
  codechain/run_node.rs
  network/src/p2p/handler.rs
  network/src/routing_table.rs
  network/src/service.rs
Labels: network

#1339 Fix travis scripts to comply with shellcheck
  .travis/check-change
  .travis/check-mergify-merge
Labels: test

#1326 Fix tendermint e2e tests
  test/src/e2e.long/tendermint.test.ts
Labels: test

#1318 Fix the network module
  network/src/p2p/handler.rs
  test/src/e2e/network2.test.ts
Labels: network

#1340 Compress the body response in the block sync
  sync/src/block/message/response.rs
  test/package.json
  test/src/helper/mock/blockSyncMessage.ts
  test/yarn.lock
Labels: sync

#1341 Clear incomplete requests of block sync in on_node_removed
  sync/src/block/extension.rs
Labels: sync

#1344 Make UnwrapCCC specify the receiver
  rpc/src/v1/types/action.rs
  spec/JSON-RPC.md
  spec/Transaction.md
  state/src/impls/shard_level.rs
  state/src/impls/test_helper.rs
  state/src/impls/top_level.rs
  test/package.json
  test/src/e2e.long/transactions.test.ts
  test/src/e2e/verification.test.ts
  test/yarn.lock
  types/src/transaction/action.rs
  types/src/transaction/shard.rs
Labels: breaking-change, rpc, transaction

#1342 Cache whether the stderr is TTY
  util/logger/src/logger.rs
Labels: refactoring, util

#1345 Prevent regular accounts from becoming WCCC recipients
  state/src/impls/top_level.rs
Labels: transaction

#1347 Fix typo in spec/JSON-RPC.md
  spec/JSON-RPC.md
Labels: documentation

#1349 Make TimerApi::set_handler receive Weak instead of &Arc
  codechain/run_node.rs
  network/src/client.rs
  util/timer/src/timer.rs
Labels: refactoring, util

#1354 Fix Tendermint liveness problem
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1356 Check spentQuantity to fix overflow panic
  types/src/errors/syntax_error.rs
  types/src/transaction/action.rs
Labels: transaction

#1358 Remove engine from TendermintInner
  core/src/consensus/tendermint/mod.rs
Labels: refactoring

#1362 Remove itertools
  Cargo.lock
  keystore/Cargo.toml
  keystore/src/accounts_dir/memory.rs
  keystore/src/lib.rs
Labels: refactoring

#1351 Enhance e2e test about orders
  test/src/e2e.long/orders.test.ts
  test/src/helper/error.ts
Labels: account, test, transaction

#1364 Fix Debug format for Private
  key/src/private.rs
Labels: key

#1363 Add key converter utility to codechain-cli
  codechain/codechain.yml
  codechain/subcommand/convert_command.rs
  codechain/subcommand/mod.rs
Labels: util

#1366 Make find_action_handler_for pass a reference
  core/src/client/client.rs
  core/src/consensus/mod.rs
  state/src/action_handler/mod.rs
Labels: refactoring

#1369 Log more data when the assertion in `update_best_as_committed` failed
  core/src/blockchain/blockchain.rs
Labels: consensus, logging

#1370 Ignore ENGINE_TIMEOUT_BROADCAST_STEP_STATE token if votes_received_changed == false
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1375 Compare best_proposal block's score when a block is imported
  core/src/blockchain/blockchain.rs
Labels: bug, consensus

#1359 Use an event channel to communicate with the block sync extension
  Cargo.lock
  codechain/rpc_apis.rs
  codechain/run_node.rs
  core/src/consensus/tendermint/mod.rs
  discovery/Cargo.toml
  discovery/src/extension.rs
  discovery/src/lib.rs
  network/Cargo.toml
  network/src/client.rs
  network/src/extension.rs
  network/src/lib.rs
  network/src/service.rs
  rpc/src/v1/impls/devel.rs
  sync/Cargo.toml
  sync/src/block/extension.rs
  sync/src/block/mod.rs
  sync/src/lib.rs
  sync/src/transaction/extension.rs
Labels: network, refactoring, sync

#1379 Change RuntimeError::InvalidSeq to not issue any Invoice
  state/src/impls/top_level.rs
Labels: transaction

#1377 Crash when block/extension's data is corrupted
  sync/src/block/extension.rs
Labels: logging, sync

#1384 Add rust-toolchain to set the default rust version
  rust-toolchain
Labels: build

#1376 Give range to pending tx
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/lib.rs
  core/src/miner/mem_pool.rs
  core/src/miner/mem_pool_types.rs
  core/src/miner/miner.rs
  core/src/miner/mod.rs
  core/src/transaction.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/mod.rs
  rpc/src/v1/types/transaction.rs
  spec/JSON-RPC.md
  sync/src/transaction/extension.rs
  test/package.json
  test/src/e2e.long/mempool.test.ts
  test/src/e2e.long/onChainTx.test.ts
  test/src/e2e.long/sync2.test.ts
  test/src/e2e/chain.test.ts
  test/yarn.lock
Labels: rpc

#1382 Pendingtx count consistent
  core/src/miner/mem_pool.rs
Labels: rpc

#1386 Update order spec
  spec/Asset-Exchange-Protocol.md
Labels: documentation

#1388 Make the transaction with an invalid approval return a syntax error
  core/src/error.rs
  state/src/error.rs
  state/src/impls/top_level.rs
  types/src/errors/syntax_error.rs
  types/src/transaction/action.rs
Labels: transaction

#1380 Refactor the Tendermint module to run it on a single thread
  Cargo.lock
  core/Cargo.toml
  core/src/consensus/tendermint/mod.rs
  core/src/lib.rs
Labels: consensus, refactoring

#1389 Wait until the client changes the best block
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/types.rs
Labels: bug, consensus

#1392 Split the Tendermint module into several files
  core/src/consensus/tendermint/chain_notify.rs
  core/src/consensus/tendermint/engine.rs
  core/src/consensus/tendermint/epoch_verifier.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/network.rs
  core/src/consensus/tendermint/worker.rs
Labels: consensus, refactoring

#1393 Ignore known txs in the Transaction Sync
  sync/src/transaction/extension.rs
Labels: sync

#1391 Compress the payload of the transaction sync
  sync/src/transaction/message.rs
  test/src/helper/mock/transactionSyncMessage.ts
Labels: sync

#1395 Compress the proposal message
  Cargo.lock
  core/Cargo.toml
  core/src/consensus/tendermint/message.rs
  core/src/lib.rs
Labels: consensus

#1400 Save the proposal's prev_block_view as last_confirmed_view
  core/src/consensus/tendermint/worker.rs
Labels: bug, consensus

#1397 Send votes in a message
  core/src/consensus/tendermint/engine.rs
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/network.rs
  core/src/consensus/tendermint/worker.rs
Labels: consensus

#1399 Remove an unnecessary lock
  sync/src/transaction/extension.rs
Labels: refactoring, sync

#1401 Propagate a proposal block without full verification
  core/src/consensus/tendermint/types.rs
  core/src/consensus/tendermint/worker.rs
Labels: consensus

#1402 Reduce cloning of network extension messages
  core/src/consensus/tendermint/network.rs
  discovery/src/extension.rs
  network/src/client.rs
  network/src/extension.rs
  network/src/p2p/connection/established.rs
  network/src/p2p/handler.rs
  network/src/p2p/message/extension.rs
  sync/src/block/extension.rs
  sync/src/transaction/extension.rs
Labels: network, refactoring

#1403 Trim line ending for convert cli
  codechain/subcommand/convert_command.rs
Labels: cli

#1404 Upload the failed tests' log to the custom server
  test/upload_logs.sh
Labels: test

#1406 Remove duplicated log
  core/src/consensus/tendermint/worker.rs
Labels: logging

#1405 Log JSONRPC requests
  codechain/rpc.rs
  codechain/rpc_apis.rs
  rpc/src/lib.rs
  rpc/src/rpc_server.rs
Labels: logging, rpc

#1407 The expiration of transaction can be very large
  rpc/src/v1/types/action.rs
  rpc/src/v1/types/order.rs
Labels: rpc

#1367 Corgi network doesn't have an additional reward per block generation
  core/res/corgi.json
Labels: scheme

#1409 Upgrade packages in test
  test/package.json
  test/src/helper/spawn.ts
  test/yarn.lock
Labels: test

#1408 Make get_transactions_by_tracker return an array of transactions
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
  test/package.json
  test/src/e2e/chain.test.ts
  test/yarn.lock
Labels: rpc

#1412 Make the registrar be able to ignore the allowed script hashes
  state/src/impls/shard_level.rs
Labels: transaction

#1410 Fix regulator checks
  state/src/impls/shard_level.rs
Labels: transaction

#1413 Fix the "little-endian" to the "big-endian" in the spec document
  spec/CodeChain-Virtual-Machine.md
Labels: documentation, script

#1416 Make db lock the cache while it reads data
  core/src/blockchain/body_db.rs
  core/src/blockchain/headerchain.rs
  core/src/blockchain/invoice_db.rs
  core/src/db.rs
Labels: util

#1418 Read the timelock type from the script
  vm/src/decoder.rs
  vm/src/executor.rs
  vm/src/instruction.rs
  vm/tests/executor.rs
Labels: script

#1419 Distribute initial stake tokens to Corgi
  core/res/corgi.json
Labels: scheme, testnet

#1420 Increase the minimum cost of the Corgi network
  core/res/corgi.json
Labels: scheme, testnet

#1430 Remove trailing whitespace
  spec/JSON-RPC.md
Labels: documentation

#1425 Rename chain_containTransaction to chain_containsTransaction
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
Labels: rpc

#1428 Remove "PoW Mining Difficulty" section from documents
  docs/consensus-algorithms.rst
Labels: documentation

#1424 Add an option to decide whether Miner allows CreateShard transaction
  codechain/codechain.yml
  codechain/config/mod.rs
  codechain/config/presets/config.dev.toml
  codechain/config/presets/config.prod.toml
  core/src/miner/miner.rs
  test/src/e2e/shard.test.ts
Labels: cli, mempool

#1429 Use the parent block's information in the timelock OPcode
  core/src/block.rs
  core/src/client/client.rs
  core/src/client/test_client.rs
  core/src/miner/miner.rs
  state/src/impls/shard_level.rs
  state/src/impls/top_level.rs
  state/src/tests.rs
  state/src/traits.rs
  vm/src/executor.rs
  vm/tests/chk_multi_sig.rs
  vm/tests/chk_sig.rs
  vm/tests/common/mod.rs
  vm/tests/executor.rs
Labels: bug, script
