Repository CodeChain-io/codechain, pull requests merged in 2019-02, with the labels that each got.

#1223 Change get_pending_transactions_count to retrieve count directly from the mempool
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/miner/mem_pool.rs
  core/src/miner/miner.rs
  core/src/miner/mod.rs
  rpc/src/v1/impls/chain.rs
Labels: rpc

#1225 Fix RLP encoding of ChangeAssetScheme
  types/src/transaction/action.rs
Labels: breaking-change, transaction

#1231 Fix the out of index crash
  core/src/miner/miner.rs
Labels: bug, mempool

#1227 Reduce AssetScheme's total supply on Burn or Decompose
  state/src/impls/shard_level.rs
  state/src/item/asset_scheme.rs
Labels: transaction

#1237 Make RoutingTable use SocketAddr instead of NodeId
  network/src/p2p/handler.rs
  network/src/routing_table.rs
  network/src/service.rs
  network/src/session_initiator/handler.rs
Labels: network, refactoring

#1244 Disable ComposeAsset and DecomposeAsset
  test/src/e2e.long/transactions.test.ts
  types/src/errors/syntax_error.rs
  types/src/transaction/action.rs
Labels: transaction

#1248 Fix the json format error
  core/res/corgi.json
Labels: scheme

#1238 Add a test case for the pr#1231
  core/src/miner/miner.rs
Labels: mempool, test

#1252 Update the votes_received when generates its own vote
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1243 Update first_seqs backup when removed from mempool
  core/src/miner/backup.rs
  core/src/miner/mem_pool.rs
Labels: mempool

#1251 Fix MintAsset permission
  state/src/impls/shard_level.rs
Labels: transaction

#1254 Fix the double vote bug
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1256 Limit the log size in the memory
  util/logger/src/structured_logger.rs
Labels: logging

#1239 Add public key of the signer to WrapCCC action
  core/src/transaction.rs
  rpc/src/v1/types/action.rs
  state/src/impls/test_helper.rs
  state/src/impls/top_level.rs
  test/package.json
  test/src/e2e.long/transactions.test.ts
  test/src/e2e/verification.test.ts
  test/src/e2e/wrap.test.ts
  test/yarn.lock
  types/src/errors/syntax_error.rs
  types/src/transaction/action.rs
Labels: breaking-change, bug, transaction

#1257 Fix best header renewal bug
  core/src/blockchain/headerchain.rs
Labels: bug, consensus

#1259 Rename sender to payer
  test/package.json
  test/src/e2e.long/transactions.test.ts
  test/src/e2e/verification.test.ts
  test/src/e2e/wrap.test.ts
  test/yarn.lock
Labels: test

#1261 Ignore the messages from the disconnected node in the block extension
  sync/src/block/extension.rs
Labels: bug, network, sync

#1260 Remove self.move_to_step in the Tendermint's restore and backup with the new step
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1264 Add missing conversion from transaction::Action into Option<ShardTran…
  types/src/transaction/action.rs
Labels: transaction

#1262 Remove votes after inserting votes from the new proposal
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/vote_collector.rs
Labels: bug, consensus

#1267 Add test case for rejected-by-limit-and-reaccepted
  test/src/e2e.long/mempool.test.ts
  test/tsconfig.json
Labels: mempool, test

#1272 Print more information when tests failed
  state/src/impls/shard_level.rs
  state/src/impls/test_helper.rs
Labels: refactoring, test

#1270 Implement RPC getErrorHint
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
Labels: rpc

#1271 Propagate the prevotes of PoLC
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1263 Fix a bug of cross-shard transfer
  state/src/impls/shard_level.rs
  state/src/impls/test_helper.rs
  state/src/impls/top_level.rs
Labels: bug, state, transaction

#1273 Add description and examples for chain_getErrorHint
  spec/JSON-RPC.md
Labels: documentation, rpc

#1276 Do not change to the `Propose` step when a proposal is imported
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/types.rs
Labels: bug, consensus

#1280 Adjust the log level of e2e tests
  test/src/helper/spawn.ts
Labels: test

#1281 Make the bootstrap node start before other nodes start
  test/src/e2e.long/discovery5.test.ts
Labels: test

#1282 Reset the list of nodes for each tests
  test/src/e2e.long/sync3.test.ts
  test/src/e2e.long/sync5.test.ts
Labels: test

#1283 Fix timelock test
  test/src/e2e.long/timelock.test.ts
Labels: test

#1274 Split the ValidatorNotExist error into FutureMessage and ValidatorNotExist
  core/src/consensus/mod.rs
  core/src/consensus/tendermint/mod.rs
Labels: logging

#1284 Fix wrong parameter names
  core/src/client/mod.rs
  rpc/src/v1/impls/chain.rs
  spec/JSON-RPC.md
Labels: rpc

#1289 Add 9 validators to Corgi
  core/res/corgi.json
Labels: scheme

#1291 Remove the base id of e2e tests
  test/src/e2e.long/account.test.ts
  test/src/e2e.long/accountUnlock.test.ts
  test/src/e2e.long/discovery2.test.ts
  test/src/e2e.long/discovery5.test.ts
  test/src/e2e.long/futureTransaction.test.ts
  test/src/e2e.long/invalidBlockPropagation.helper.ts
  test/src/e2e.long/mempool.test.ts
  test/src/e2e.long/onChainBlockValid.test.ts
  test/src/e2e.long/onChainTx.test.ts
  test/src/e2e.long/orders.test.ts
  test/src/e2e.long/reward2.test.ts
  test/src/e2e.long/sync2.test.ts
  test/src/e2e.long/sync3.test.ts
  test/src/e2e.long/sync5.test.ts
  test/src/e2e.long/tendermint.test.ts
  test/src/e2e.long/timelock.test.ts
  test/src/e2e.long/transactions.test.ts
  test/src/helper/spawn.ts
  test/src/tendermint.test/local.ts
Labels: test

#1295 Fix a bug that prevents creating a connection to a remote node
  network/src/p2p/connection/outgoing.rs
  network/src/p2p/handler.rs
Labels: bug, network

#1296 Run sync tests on OSX
  test/src/e2e.long/sync2.test.ts
  test/src/e2e.long/sync3.test.ts
  test/src/e2e.long/sync5.test.ts
Labels: network, test

#1300 Rename parcel to transaction
  core/src/blockchain/blockchain.rs
  core/src/blockchain/body_db.rs
  core/src/blockchain/extras.rs
  core/src/blockchain/invoice_db.rs
  core/src/blockchain/mod.rs
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/service.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/impls/devel.rs
Labels: refactoring

#1293 Add a type wrapper for a password
  crypto/src/lib.rs
  crypto/src/password.rs
  crypto/src/scrypt.rs
  key/src/password.rs
  keystore/src/account/crypto.rs
Labels: crypto

#1304 Add more logs to Tendermint gossip message, and refactor it
  core/src/consensus/tendermint/mod.rs
Labels: consensus, logging

#1303 Forbid non-active user be registered as special users
  state/src/impls/test_helper.rs
  state/src/impls/top_level.rs
  state/src/item/account.rs
  test/src/e2e/shard.test.ts
  types/src/errors/runtime_error.rs
Labels: transaction

#1308 Add logs to block/extension.rs
  sync/src/block/extension.rs
Labels: logging, sync

#1302 Add an invoice to a transaction that RPC returns
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/transaction.rs
  test/package.json
  test/src/e2e/invoice.test.ts
  test/yarn.lock
  types/src/invoice/block_invoices.rs
Labels: rpc

#1309 Rename invoice to result
  core/src/block.rs
  core/src/consensus/simple_poa/mod.rs
  core/src/consensus/solo/mod.rs
  core/src/consensus/tendermint/mod.rs
  core/src/encoded.rs
  core/src/error.rs
  core/src/header.rs
  core/src/miner/miner.rs
  core/src/miner/sealing_queue.rs
  core/src/scheme/genesis.rs
  core/src/scheme/scheme.rs
  core/src/verification/verification.rs
  core/src/views/header.rs
  json/src/scheme/genesis.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  rpc/src/v1/types/block.rs
  rpc/src/v1/types/transaction.rs
  spec/JSON-RPC.md
  test/package.json
  test/src/e2e.long/expiration.test.ts
  test/src/e2e.long/invalidBlockPropagation.helper.ts
  test/src/e2e.long/invalidBlockPropagation7.test.ts
  test/src/e2e.long/mempool.test.ts
  test/src/e2e.long/onChainBlockValid.test.ts
  test/src/e2e.long/orders.test.ts
  test/src/e2e.long/sync2.test.ts
  test/src/e2e.long/sync3.test.ts
  test/src/e2e.long/sync5.test.ts
  test/src/e2e.long/tendermint.test.ts
  test/src/e2e.long/timelock.test.ts
  test/src/e2e.long/transactions.test.ts
  test/src/e2e/chain.test.ts
  test/src/e2e/engine.test.ts
  test/src/e2e/mempool.test.ts
  test/src/e2e/regularkey.test.ts
  test/src/e2e/reward.test.ts
  test/src/e2e/reward1.test.ts
  test/src/e2e/shard.test.ts
  test/src/e2e/storeRemove.test.ts
  test/src/e2e/transactionResult.test.ts
  test/src/e2e/wrap.test.ts
  test/src/helper/spawn.ts
  test/src/tendermint.test/local.ts
  test/src/tendermint.test/remote.ts
  test/yarn.lock
Labels: breaking-change, rpc

#1307 Run e2e test and unit test on the same worker
  .travis.yml
Labels: do-not-merge, test

#1310 Fix a deadlock in network module
  network/src/p2p/handler.rs
Labels: bug, network

#1311 Check score in the Tendermint Consensus
  core/src/consensus/tendermint/mod.rs
Labels: consensus

#1312 Lock for tokens and session minimally
  network/src/p2p/handler.rs
Labels: network, refactoring

#1314 When the height is changed, the step should be the Propose step
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1315 Make Tenrdermint more verbose
  core/src/consensus/tendermint/mod.rs
Labels: consensus, logging

#1313 Fix sync extension bugs
  sync/src/block/downloader/header.rs
  sync/src/block/extension.rs
Labels: bug, sync

#1320 Modify signer index calculation method in ConsensusMessage
  core/src/consensus/tendermint/message.rs
  core/src/consensus/tendermint/mod.rs
Labels: bug, consensus

#1322 The node removed event can be occurred even there is no add event
  sync/src/block/extension.rs
Labels: bug, sync

#1329 Fix Travis scripts
  .travis.yml
Labels: test

#1328 Fix the test to wait until the transaction goes into the mempool
  test/src/e2e.long/onChainTx.test.ts
Labels: mempool, test

#1316 Merge the discovery extensions into one
  codechain/codechain.yml
  codechain/run_node.rs
  discovery/src/extension.rs
  docs/how-to-configure.rst
  spec/Discovery-Extension.md
  spec/Kademlia-Extension.md
  spec/Network-Extension-Protocol.md
  spec/Node-Discovery-Protocol.md
Labels: network

#1332 Fix force-push detection for travis check-change
  .travis/check-change
Labels: test
