Repository CodeChain-io/codechain, pull requests merged in 2019-06, with the labels that each got.

#1586 Proposal for how to handle ties
  spec/Dynamic-Validator.md
Labels: consensus, documentation

#1596 Change kicked to released
  core/src/consensus/stake/action_data.rs
  core/src/consensus/stake/mod.rs
  spec/Dynamic-Validator.md
Labels: consensus

#1597 Fix the withdraw delay
  core/src/consensus/stake/mod.rs
  spec/Dynamic-Validator.md
Labels: consensus, documentation

#1595 Add stake parameters to CommonParams
  json/src/scheme/params.rs
  types/src/common_params.rs
Labels: scheme

#1600 Fix the test case to test invalid signature of store transaction
  state/src/impls/top_level.rs
Labels: test

#1594 Make the term id sequential
  core/src/codechain_machine.rs
  core/src/consensus/solo/mod.rs
  core/src/consensus/tendermint/engine.rs
  state/src/impls/top_level.rs
  state/src/item/metadata.rs
  state/src/traits.rs
Labels: consensus

#1606 Increase the timeout of term change test
  test/src/e2e/termChange.test.ts
Labels: test

#1605 Fix the e2e test to check versions
  test/src/e2e/basic.test.ts
Labels: test

#1592 Store validator list in the states
  spec/Dynamic-Validator.md
Labels: consensus, documentation

#1607 Adjust the log level to avoid spam alarms
  core/src/miner/miner.rs
  network/src/stream.rs
  util/io/src/service.rs
Labels: logging

#1608 Add the testnet to test the major version-up branch
  codechain/config/chain_type.rs
  core/res/beagle.json
  core/src/scheme/scheme.rs
Labels: scheme

#1603 Add maxCandidateMetadataSize to CommonParams
  core/src/consensus/mod.rs
  core/src/consensus/stake/actions.rs
  core/src/consensus/stake/mod.rs
  json/src/scheme/params.rs
  spec/Dynamic-Validator.md
  state/src/action_handler/hit.rs
  state/src/action_handler/mod.rs
  test/src/e2e/termChange.test.ts
  types/src/common_params.rs
Labels: transaction, verification

#1610 Change candidates to save metadata
  core/src/consensus/stake/action_data.rs
  core/src/consensus/stake/mod.rs
Labels: consensus

#1611 Remove "User Manual" section from README.md
  README.md
Labels: documentation

#1612 Implement Encodable/Decodable for Tuple with three items
  util/rlp/src/impls.rs
Labels: util

#1615 change the names of commonParams' elements to be camelCase
  spec/JSON-RPC.md
Labels: documentation

#1598 Handle nomination expiration properly
  core/src/consensus/solo/mod.rs
  core/src/consensus/stake/mod.rs
  core/src/consensus/tendermint/engine.rs
Labels: consensus

#1585 Clean up memories when syncing
  core/src/verification/queue/mod.rs
  sync/src/block/downloader/body.rs
  sync/src/block/downloader/header.rs
Labels: sync

#1618 Add chain_getPossibleAuthors
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/consensus/blake_pow/mod.rs
  core/src/consensus/cuckoo/mod.rs
  core/src/consensus/mod.rs
  core/src/consensus/null_engine/mod.rs
  core/src/consensus/simple_poa/mod.rs
  core/src/consensus/solo/mod.rs
  core/src/consensus/tendermint/engine.rs
  core/src/lib.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  test/src/e2e.long/tendermint.test.ts
  test/src/e2e/chain.test.ts
Labels: rpc

#1620 Upgrade typescript, tslint and prettier
  test/package.json
  test/src/helper/spawn.ts
  test/yarn.lock
Labels: test

#1622 No need to abstract CodeChainMachine
  core/src/consensus/solo/mod.rs
Labels: refactoring

#1616 Tendermint can exit before receiving the external parameters
  core/src/consensus/tendermint/worker.rs
Labels: bug, cli

#1614 Fix final reward to follow the spec
  core/src/consensus/tendermint/engine.rs
Labels: consensus

#1623 Renew the nomination expiration of the validators at the term end
  core/src/consensus/stake/action_data.rs
  core/src/consensus/stake/mod.rs
  spec/Dynamic-Validator.md
Labels: consensus

#1619 Add the spec of chain_getPossibleAuthors
  spec/JSON-RPC.md
Labels: documentation, rpc

#1626 Fix a bug that Tendermint fails when a locked proposal is not imported
  core/src/consensus/tendermint/worker.rs
Labels: bug

#1625 Update the weights of the validators when closing blocks
  core/src/consensus/stake/action_data.rs
  core/src/consensus/stake/mod.rs
  core/src/consensus/tendermint/engine.rs
Labels: consensus

#1629 Kill codechain in release mode when EXIT_ON_CRASH is set
  util/panic_hook/src/lib.rs
Labels: util

#1627 Make REPORT_DOUBLE_VOTE ban the criminals even if they have no deposit
  spec/Dynamic-Validator.md
Labels: consensus, documentation, transaction

#1632 Add an e2e test to check that payment to regular key is invalid
  test/src/e2e/pay.test.ts
Labels: test, transaction

#1630 Consider a deposit at the election when the amount of delegation is the same
  spec/Dynamic-Validator.md
Labels: documentation

#1631 Consider the amount of deposit on the election
  core/src/consensus/stake/action_data.rs
Labels: consensus

#1633 Change the fields of REPORT_DOUBLE_VOTE
  spec/Dynamic-Validator.md
Labels: consensus, documentation, transaction

#1637 Remove unused handle_message method of Tendermint
  core/src/consensus/mod.rs
  core/src/consensus/tendermint/engine.rs
Labels: consensus

#1635 Add the spec of chain_getMetadataSeq
  spec/JSON-RPC.md
Labels: documentation, rpc

#1636 Add `chain_getMetadataSeq` RPC
  core/src/client/client.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
Labels: rpc

#1644 Add trace logs to stake
  core/src/consensus/stake/action_data.rs
  core/src/consensus/stake/mod.rs
Labels: logging, transaction

#1646 Fix the bug that calculates the number of signatures wrongly
  core/src/consensus/tendermint/engine.rs
Labels: bug

#1648 Fix JSON RPC
  spec/JSON-RPC.md
Labels: documentation

#1650 Refine the code that checks whether the transaction signed with the m…
  state/src/impls/top_level.rs
Labels: refactoring

#1651 Change the versions of master branch to 0.0.0
  Cargo.lock
  Cargo.toml
Labels: build

#1658 Update the spec for the candidate metadata
  spec/Dynamic-Validator.md
Labels: documentation

#1653 Implement chain_getTransactionSigner
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
  test/src/e2e/chain.test.ts
Labels: rpc

#1661 [rc-1.5.0] Implement chain_getTransactionSigner
  rpc/src/v1/impls/chain.rs
  rpc/src/v1/traits/chain.rs
  spec/JSON-RPC.md
  test/src/e2e/chain.test.ts
Labels: transaction

#1657 Disallow to delegate to jailed account
  core/src/consensus/stake/mod.rs
  spec/Dynamic-Validator.md
Labels: consensus

#1662 [rc-1.4.x] Fix a bug that Tendermint fails when a locked proposal is not imported
  core/src/consensus/tendermint/worker.rs
Labels: bug

#1663 [rc-1.5.0] Fix a bug that Tendermint fails when a locked proposal is not imported
  core/src/consensus/tendermint/worker.rs
Labels: bug

#1665 Install libssl-dev in the docker image
  docker/ubuntu/Dockerfile
Labels: build
