Repository CodeChain-io/codechain, pull requests merged in 2019-11, with the labels that each got.

#1837 Remove put_compressed method of the kvdb transaction
  Cargo.lock
  util/kvdb-memorydb/src/lib.rs
  util/kvdb-rocksdb/src/lib.rs
  util/kvdb/src/lib.rs
  util/rlp/Cargo.toml
  util/rlp/src/common.rs
  util/rlp/src/compression.rs
  util/rlp/src/lib.rs
Labels: util

#1851 Extract rlp
  Cargo.lock
  core/Cargo.toml
  discovery/Cargo.toml
  key/Cargo.toml
  network/Cargo.toml
  rpc/Cargo.toml
  state/Cargo.toml
  sync/Cargo.toml
  types/Cargo.toml
  util/error/Cargo.toml
  util/journaldb/Cargo.toml
  util/kvdb-memorydb/Cargo.toml
  util/kvdb-rocksdb/Cargo.toml
  util/memorydb/Cargo.toml
  util/merkle/Cargo.toml
  util/rlp/Cargo.toml
  util/rlp/LICENSE-APACHE2
  util/rlp/LICENSE-MIT
  util/rlp/README.md
  util/rlp/benches/rlp.rs
  util/rlp/license-header
  util/rlp/src/error.rs
  util/rlp/src/impls.rs
  util/rlp/src/lib.rs
  util/rlp/src/rlpin.rs
  util/rlp/src/stream.rs
  util/rlp/src/traits.rs
  util/rlp/tests/tests.rs
  util/rlp_compress/Cargo.toml
  util/rlp_derive/Cargo.toml
  util/trie-standardmap/Cargo.toml
  vm/Cargo.toml
Labels: util

#1862 Fetch snapshot header from peers
  codechain/run_node.rs
  core/src/blockchain/blockchain.rs
  core/src/blockchain/headerchain.rs
  core/src/client/client.rs
  core/src/client/importer.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  sync/src/block/extension.rs
Labels: experimental, sync

#1843 Update snapshot message format
  spec/Block-Synchronization-Extension.md
  sync/src/block/extension.rs
  sync/src/block/message/mod.rs
  sync/src/block/message/request.rs
  sync/src/block/message/response.rs
  util/merkle/src/snapshot/mod.rs
Labels: experimental, sync

#1865 Import only desired bootstrap headers
  sync/src/block/extension.rs
Labels: experimental, sync

#1861 Add Tendermint design document
  core/src/consensus/tendermint/DESIGN.md
Labels: documentation

#1860 Update the dynamic validator spec to match with the behavior
  spec/Dynamic-Validator.md
Labels: documentation

#1857 Precompute is_empty for body downloader targets
  sync/src/block/downloader/body.rs
  sync/src/block/extension.rs
Labels: refactoring, sync

#1870 Upgrade rlp library to 0.4.0
  Cargo.lock
  core/Cargo.toml
  core/src/blockchain/body_db.rs
  core/src/blockchain/headerchain.rs
  core/src/consensus/mod.rs
  core/src/consensus/simple_poa/mod.rs
  core/src/consensus/solo/mod.rs
  core/src/consensus/stake/action_data.rs
  core/src/consensus/tendermint/backup.rs
  core/src/consensus/tendermint/network.rs
  core/src/consensus/tendermint/worker.rs
  core/src/db_version.rs
  core/src/miner/mem_pool.rs
  core/src/tests/helpers.rs
  discovery/Cargo.toml
  discovery/src/extension.rs
  key/Cargo.toml
  network/Cargo.toml
  network/src/p2p/message/signed_message.rs
  rpc/Cargo.toml
  state/Cargo.toml
  sync/Cargo.toml
  sync/src/block/extension.rs
  sync/src/snapshot/snapshot.rs
  sync/src/transaction/extension.rs
  types/Cargo.toml
  util/error/Cargo.toml
  util/hashdb/Cargo.toml
  util/hashdb/src/lib.rs
  util/journaldb/Cargo.toml
  util/journaldb/src/archivedb.rs
  util/kvdb-memorydb/Cargo.toml
  util/kvdb-memorydb/src/lib.rs
  util/kvdb-rocksdb/Cargo.toml
  util/kvdb-rocksdb/src/lib.rs
  util/kvdb/Cargo.toml
  util/kvdb/src/lib.rs
  util/memorydb/Cargo.toml
  util/memorydb/src/lib.rs
  util/merkle/Cargo.toml
  util/merkle/src/lib.rs
  util/merkle/src/nibbleslice.rs
  util/merkle/src/node.rs
  util/merkle/src/triedb.rs
  util/merkle/src/triedbmut.rs
  util/rlp_compress/Cargo.toml
  util/rlp_compress/src/lib.rs
  util/rlp_compress/tests/compress.rs
  util/rlp_derive/Cargo.toml
  util/rlp_derive/tests/rlp.rs
  util/trie-standardmap/Cargo.toml
  util/trie-standardmap/src/lib.rs
  vm/Cargo.toml
Labels: util

#1882 Use 2018 edition
  Cargo.toml
  core/Cargo.toml
  core/src/client/client.rs
  core/src/client/importer.rs
  core/src/client/mod.rs
  core/src/client/test_client.rs
  core/src/consensus/mod.rs
  core/src/consensus/stake/actions.rs
  core/src/consensus/stake/mod.rs
  core/src/consensus/tendermint/mod.rs
  core/src/consensus/tendermint/vote_regression_checker.rs
  core/src/consensus/validator_set/dynamic_validator.rs
  core/src/miner/mod.rs
  core/src/verification/queue/kind.rs
  core/src/verification/queue/mod.rs
  discovery/Cargo.toml
  json/Cargo.toml
  key/Cargo.toml
  key/src/private.rs
  keystore/Cargo.toml
  keystore/src/account/safe_account.rs
  keystore/src/accounts_dir/disk.rs
  network/Cargo.toml
  rpc/Cargo.toml
  state/Cargo.toml
  stratum/Cargo.toml
  sync/Cargo.toml
  types/Cargo.toml
  util/error/Cargo.toml
  util/hashdb/Cargo.toml
  util/io/Cargo.toml
  util/io/src/service.rs
  util/io/src/worker.rs
  util/journaldb/Cargo.toml
  util/journaldb/src/archivedb.rs
  util/kvdb-memorydb/Cargo.toml
  util/kvdb-rocksdb/Cargo.toml
  util/kvdb/Cargo.toml
  util/logger/Cargo.toml
  util/logger/src/email.rs
  util/memorydb/Cargo.toml
  util/merkle/Cargo.toml
  util/merkle/src/node.rs
  util/merkle/src/triedbmut.rs
  util/panic_hook/Cargo.toml
  util/plain_hasher/Cargo.toml
  util/rlp_compress/Cargo.toml
  util/rlp_compress/src/common.rs
  util/rlp_derive/Cargo.toml
  util/table/Cargo.toml
  util/timer/Cargo.toml
  util/trie-standardmap/Cargo.toml
  vm/Cargo.toml
Labels: build

#1887 The latest ubuntu has yarn by default
  .github/workflows/yarn-lint.yml
Labels: test

#1886 Adjust GitHub Actions
  .github/workflows/build.yml
  .github/workflows/cargo-test.yml
  .github/workflows/yarn-lint.yml
Labels: test

#1891 Remove the duration argument from ChainNotify
  core/src/client/chain_notify.rs
  core/src/client/client.rs
  core/src/client/importer.rs
  core/src/consensus/tendermint/chain_notify.rs
  sync/src/block/extension.rs
  sync/src/snapshot/service.rs
Labels: refactoring

#1894 Refactor tendermint's on_close_block
  core/src/consensus/tendermint/engine.rs
Labels: consensus, refactoring

#1881 Use plain_hasher in crates.io
  Cargo.lock
  util/memorydb/Cargo.toml
  util/memorydb/src/lib.rs
  util/plain_hasher/Cargo.toml
  util/plain_hasher/benches/bench.rs
  util/plain_hasher/src/lib.rs
Labels: util

#1890 Remove unnecessary Arc
  codechain/run_node.rs
  core/src/miner/stratum.rs
  stratum/src/lib.rs
Labels: refactoring

#1880 Remove a redundant logging on the jsonrpc server
  codechain/rpc.rs
Labels: logging, refactoring

#1896 Refactor `on_close_block`, take #2
  core/src/block.rs
  core/src/client/test_client.rs
  core/src/consensus/blake_pow/mod.rs
  core/src/consensus/cuckoo/mod.rs
  core/src/consensus/mod.rs
  core/src/consensus/null_engine/mod.rs
  core/src/consensus/simple_poa/mod.rs
  core/src/consensus/solo/mod.rs
  core/src/consensus/stake/mod.rs
  core/src/consensus/tendermint/engine.rs
  core/src/consensus/tendermint/mod.rs
  core/src/miner/miner.rs
  core/src/miner/sealing_queue.rs
  state/src/action_handler/hit.rs
  state/src/action_handler/mod.rs
Labels: consensus, refactoring, verification

#1885 Use the upstream kvdb
  Cargo.lock
  Cargo.toml
  codechain/run_node.rs
  core/Cargo.toml
  core/src/client/client.rs
  core/src/client/config.rs
  core/src/client/error.rs
  core/src/error.rs
  core/src/lib.rs
  rpc/Cargo.toml
  rpc/src/v1/errors.rs
  rpc/src/v1/impls/devel.rs
  state/Cargo.toml
  sync/Cargo.toml
  sync/src/snapshot/error.rs
  sync/src/snapshot/snapshot.rs
  util/error/Cargo.toml
  util/error/src/lib.rs
  util/journaldb/Cargo.toml
  util/journaldb/src/archivedb.rs
  util/kvdb-memorydb/Cargo.toml
  util/kvdb-memorydb/src/lib.rs
  util/kvdb-rocksdb/Cargo.toml
  util/kvdb-rocksdb/src/lib.rs
  util/kvdb/Cargo.toml
  util/kvdb/src/lib.rs
  util/merkle/Cargo.toml
  util/merkle/benches/triedb.rs
Labels: refactoring

#1902 Change setSigner to signer
  test/src/e2e.dynval/setup.ts
  test/src/helper/spawn.ts
Labels: test
